@font-face {
   font-family: ios-infinity;
   src: url('atom://custom-fonts/fonts/ios-infinity.woff');
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon[data-name$=".less"],
.icon[data-name$=".css"] {
  color: #add47f;
}

.icon[data-name$=".less"]::before {
  font-family: 'ios-infinity';
  content: "\e820";
}

// HIDE MAC FILES
.icon[data-name$=".DS_Store"] {
  display: none;
}

li.status-added::before{
  display: block!important;
    background: #2bda77!important;
  }

li.status-added .icon{
    color: #2bda77!important;
  }
